.name{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.info{
    text-align: center;
    font-size: 15px;
}
.header{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}
.subheader{
    font-size: 16px;
}
.position{
    font-size: 16px;
}
.list{
    font-size: 15px;
}
body{
    margin: 40px;
}